@tailwind base;
@tailwind components;
@tailwind utilities;

.diallines {
  /* position: absolute; */
  /* z-index: 2; */
  /* width: 2px; */
  /* height: 15px; */
  background: #666;
  /* left: 50%; */
  /* margin-left: -1px; */
  /* transform-origin: 50% 150px; */
}
.diallines:nth-of-type(5n) {
  /* position: absolute;
  z-index: 2;
  width: 4px;
  height: 25px;
  background: #666;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 150px; */
}

.triangle-border {
  position: relative;
  width: 0;
  height: 0;
  left: 50%;
  /* transform: translateX(-50%) rotate(180deg); */
  border-style: solid;
  border-width: 0 15px 150px 15px;
  border-color: transparent transparent #fff transparent;
}

.triangle-border::before {
  /* content: "";
  position: absolute;
  left: -120px;
  top: -12px;
  width: 0;
  z-index: -1;
  height: 0;
  border-style: solid;
  border-width: 0 120px 120px 120px;
  border-color: transparent transparent teal transparent; */
}
